<ul class="header-links" id="header-links">
	<li>
		<a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">Home</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/life' | prepend: site.baseurl | prepend: site.url }}">Life</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/tech' | prepend: site.baseurl | prepend: site.url }}">Tech</a><span>/</span>
	</li>
	<li>
		<a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a><span>/</span>
	</li>
	{% if site.harmony.social.github %}
	<li>
    <a title="{{ site.harmony.social.github }} on Github"
      href="https://github.com/gayanvirajith/harmony" target="_blank">
      Download
    </a><span>/</span>
	</li>
	{% endif %}
</ul>