---
---

@charset "utf-8";

@import "devlopr";

/* custom css goes below */
blockquote {
  margin: 0 0 1rem;
  padding: 0.5em 1em;
  margin: .8em 0;
  color: #7a7a7a;
  border-left: .25em solid #e5e5e5;
}
